<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/stylesheets/link.css"><link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
  <header class="container">
        <nav class="flex">
            <div class="logo">
                <h3><a href="/">Altls</a></h3>
            </div>
            <ul class="flex">
                <li class="list-items"><a href="/users/login">Login</a></li>
                <li class="list-items"><a href="/users/register">Signup</a></li>
                <li class="list-items"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
<div class="link">

<a><%=url.urlShort%></a>

</div>
 </body>
</html>