<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <section class="first-section">
        <div class="container flex">
            <div class="col-1-2">
                <h1>Learn to code by watching others</h1>
                <p>See how experienced developers solve problems in real-time. Watching scripted tutorials is great,but understand how developer think is invaluable.</p>
            </div>
            <div class="col-1-2">
                <div class="top">
                    <p><strong>Try it free 7 days</strong> then $20/mo. thereafter</p>
                </div>
                
                <div class="form">
                    <form action="/users/login" method="POST">
                        <fieldset>
                            <input type="text" name="email" placeholder="email">
                            <input type="text" name="password" placeholder="passowrd">                    
                            <button type="submit">CLAIM YOUR FREE TRIAL</button>
                            <P>By clicking the button, you are agreeing to our <strong>Terms and Services</strong></P>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>