<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <section class="first-section">
        <div class="container flex">
            <div class="col-1-2">
                <h1>Short links, big results</h1>
                <p>A URL Shortner buid with powerful tools to help you grow and protect your brand</p>
            </div>
            <div class="col-1-2">
                <div class="top">
                    <p class="text-center">More than a link shortner</p>
                </div>
                
                <div class="form">
                    <form action="/users/register" method="POST">
                        <fieldset>
                            <input type="text" name="username" placeholder="Username">
                            <input type="text" name="email" placeholder="Email">
                            <input type="text" name="password" placeholder="Password">                    
                            <button type="submit">Signup</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>