/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom-css */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.8rem;
}
h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    display: inline-block;
}
img {
    width: 100%;
}
.text-center {
    text-align: center;
}
/* grid */
.grid {
    display: grid;
}
.col-2 {
    grid-template-columns: repeat(2,1fr);
}
.col-3 {
    grid-template-columns: repeat(3,1fr);
}
.col-4 {
    grid-template-columns: repeat(4,1fr);
}
/* // col-gap */
.col-gap-2 {
  column-gap: 2rem;
}
.col-gap-2-5 {
  column-gap: 2.5rem;
}
/* // position */
.grid-self-center {
  justify-self: center;
  align-self: center;
}
/* flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header */
header {
    background-color: #172F41;
}
.logo h3 a {
    color: #eb5454;
}
.list-items {
    font-size: 1.3rem;
    font-weight: 600;
}
.list-items{
    text-transform: capitalize;
    font-size: 1.3rem;
    color: white;
}
/* url-section */
.sub-url {
    background-color: #252628;
    border-radius: 8px;
}
form {
    display: flex;
    justify-content: space-evenly;
}
.url-input {
    width: 60%;
    padding: 1.5rem 0;
    border-radius: 8px;
    outline: 0;
    border: 0;
}
.url-button {
    padding: 1rem 2.4rem;
    border-radius: 8px;
    outline: 0;
    border: 0;
    background-color: #eb5454;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}
.details {
padding: 8rem 0;
}
.links-details h3 {
    margin-bottom: 1rem;
    color: white;
}
.links-details p {
    margin: 1rem 0;
    color: white;
}
body {
    background-color: #eb5454;
}
